@{
    ViewData["Title"] = "Contact Us";
}
<h1>Contact Us</h1>

<p>Our administration is ready to help.</p>
<p>** Tutoring functionality coming. **</p>
<hr />

<form>
    <formfield>
        <div>
            <h2><label>Contoso University</label></h2>
        </div>
        <div class="contact_page">
            <label>Address</label>
            <div>10537 N. Dream Central Dr.</div>
        </div>
        <div class="contact_page">
            <label>City</label>
            <div>Simi Valley</div>
        </div>
        <div class="contact_page">
            <label>State</label>
            <div>California</div>
        </div>
        <div class="contact_page">
            <label>Zip</label>
            <div>90210</div>
        </div>
        <div class="contact_page">
            <label>Phone Number</label>
            <div>907-375-1200</div>
        </div>
        <div class="contact_page">
            <label>Email Address</label>
            <div>Questions@ContosoUniversity.org</div>
        </div>
    </formfield>
</form>

